.AddProperty{
  background-color: white;
}

label{
  display:flex;
  justify-content: space-between;
  margin:10px;
}
input{
  width: 150px;
}

.addproperty__div{
  display:flex;
  flex-direction: column;
  width:300px;
}