.navbar{
  border-color: #4D5057;
  background-color: #F1E8B8;
  padding-top:10px;
  padding-bottom:10px;
  border-bottom: solid 1px #393D3F;
}

.navbar-logo{
  width: 300px;
}

.navbar-links-item{
  list-style: none;
  display: inline-block;
  padding-right: 20px;
}

.navbar-links{
  margin:0;
}