@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.navbar{
  font-family: 'Anton', sans-serif;
  font-size: large;
  letter-spacing: 1px;
  border-color: #4D5057;
  background-color: #525657;
  height:9%;
  display:flex;
  align-items: center;
  padding-left: 60px;
  border-bottom: solid 5px #f1e8b8;
}

.navbar-logo{
  width: 300px;
}

.navbar-links-item{
  list-style: none;
  display: inline-block;
  padding-right: 20px;
}

.navbar-links{
  margin:0;
}

.navbar-links-item > a {
  text-decoration: none;
  font-size: large;
  color:white;
}

.navbar-links-item > a:visited { 
  font-size: large;
  text-decoration: none;
  color:white; 
}
.navbar-links-item > a:hover { 
  font-size: large;
  text-decoration: none; 
  background-color:#393D3F;
  color:white
}