.properties {
  display: flex;
  height: 90vh;
  background-color: #F1E8B8;
}
.property-map {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 10px;
}

.sidebar{
  background-color: #393D3F;
}
