@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.property {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 25px;
  width:275px;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.property-item {
  display: flex;
  padding: 5px;
  align-items: center;
  font-size: medium;
}

.bedrooms__img, .bathrooms__img, .city__img{
  height: 20px;
  padding-right: 5px;
}

.price__img, .type__img, .email__img {
  height: 15px;
  padding-right: 5px;
}

.email {
  padding: 10px;
  justify-content: center;
  font-size: large;
}

.title {
  font-family: "Anton", sans-serif;
  font-size: large;
  justify-content: center;
  margin: 20px;
  border: solid 1px #393d3f;
  border-radius: 25px;
  background-color: #f1e8b8;
  color:#393d3f;
}