@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.sidebar {
  font-family: 'Anton', sans-serif;
  font-size: large;
  letter-spacing: 1px;
  padding: 100px;
  background-color: #525657;
  border-right: solid 5px #f1e8b8;
}
.search{
  display:flex;
}

.sidebar_link {
  padding-top: 5px;
  padding-bottom: 5px;
}

.sidebar_link > a {
  text-decoration: none;
  font-size: large;
  color: white;
}

.sidebar_link > a:visited {
  font-size: large;
  text-decoration: none;
  color: white;
}
.sidebar_link > a:hover {
  font-size: large;
  text-decoration: none;
  background-color: #393d3f;
  color: white;
}

.sidebar__button  {
  background-color: #f1e8b8;
  border: none;
  height: 40px;
	border: none;
}
.sidebar-submit__img{
  width:15px;
  margin-top: 9px;
  margin-bottom: 5px;
  margin-left: 3px;
}

input {
  background-color: #f1e8b8;
  border: none;
  border-right: solid 1px #393d3f;
  height: 40px;
	padding: 0;
	font: inherit;
}
#sidebar__button{
  border:none;
  background-color: #525657;
  color: white;
  font-size: large;
  letter-spacing: 1px;
  font-family: 'Anton', sans-serif;
  padding:0;
  padding-left:0;
  padding-right:0;
}